In [3]:
import pandas as pd
from tradingview_ta import TA_Handler, Interval, Exchange
from alpha_vantage.timeseries import TimeSeries
import requests

In [4]:
key = 'RGUX1KUUCDUCRYAC'

In [5]:
ts = TimeSeries(key, output_format='pandas')
data, meta_data = ts.get_intraday(symbol='MSFT', interval='1min', outputsize='full')

In [6]:
meta_data

{'1. Information': 'Intraday (1min) open, high, low, close prices and volume',
 '2. Symbol': 'MSFT',
 '3. Last Refreshed': '2023-03-03 20:00:00',
 '4. Interval': '1min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [7]:
data.head()

                     1. open  2. high  3. low  4. close  5. volume
date
2023-03-03 20:00:00   255.54   255.55  255.54    255.55     2176.0
2023-03-03 19:59:00   255.54   255.54  255.54    255.54      414.0
2023-03-03 19:58:00   255.55   255.55  255.54    255.54     1750.0
2023-03-03 19:54:00   255.55   255.55  255.55    255.55      230.0
2023-03-03 19:52:00   255.55   255.55  255.55    255.55      320.0