In [22]:
import pandas as pd
import numpy as np
import re
import glob
import os
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import LSTM, Dense

In [6]:
path = "../stocks/raw_data_candles/*.csv"

In [7]:
scaler = MinMaxScaler()
dfs = []
dfs_names = []
for file in glob.glob(path):
    # extract the file name without the extension
    file_name = os.path.splitext(os.path.basename(file))[0]
    dfs_names.append(file_name)
    # read the CSV file into a dataframe
    df = pd.read_csv(file)
    
    
    #preprocess:
    df = df.drop(columns="symbol")
    df["time"] = pd.to_datetime(df["time"])
    df.index = df.pop('time')
    
    # creat list:
    dfs.append(df)

In [30]:
dfs

[                        open     high      low    close  volume
 time
 2023-02-01 09:59:00  79.7600  79.7600  79.5000  79.5750  394667
 2023-02-01 10:00:00  79.5900  79.6591  79.4800  79.6550  373402
 2023-02-01 10:01:00  79.6700  79.9600  79.4800  79.8800  616572
 2023-02-01 10:02:00  79.8800  80.3000  79.8600  80.0499  854847
 2023-02-01 10:03:00  80.0440  80.0440  79.5460  79.8343  565500
 ...                      ...      ...      ...      ...     ...
 2023-02-03 19:55:00  85.9599  85.9600  85.9599  85.9600    2604
 2023-02-03 19:56:00  85.9600  85.9600  85.9600  85.9600     119
 2023-02-03 19:58:00  85.9600  85.9600  85.9600  85.9600     236
 2023-02-03 19:59:00  86.0000  86.0000  86.0000  86.0000     566
 2023-02-03 20:00:00  85.9600  85.9600  85.9600  85.9600     628

 [2167 rows x 5 columns],
                            open        high         low       close  volume
 time
 2023-01-31 19:04:00  246.547498  246.697120  246.547498  246.697120    1518
 2023-01-31 19:06:00  246.597372  246.597372  246.597372  246.597372     193
 2023-01-31 19:09:00  246.527548  246.527548  246.427900  246.427900     502
 2023-01-31 19:11:00  246.447750  246.447750  246.397876  246.397876     348
 2023-01-31 19:14:00  246.377926  246.377926  246.377926  246.377926     199
 ...                         ...         ...         ...         ...     ...
 2023-02-03 19:45:00  257.360197  257.360197  257.360197  257.360197     357
 2023-02-03 19:56:00  257.360197  257.360197  257.350222  257.350222    2610
 2023-02-03 19:58:00  257.350222  257.350222  257.350222  257.350222     228
 2023-02-03 19:59:00  257.350222  257.350222  257.350222  257.350222     449
 2023-02-03 20:00:00  257.350322  257.350322  257.350322  257.350322     465

 [2168 rows x 5 columns],
                           open       high        low      close  volume
 time
 2023-02-02 10:06:00  28.467827  28.527073  28.433266  28.502387  251644
 2023-02-02 10:07:00  28.507324  28.606068  28.497450  28.598366  264575
 2023-02-02 10:08:00  28.596193  28.604587  28.536947  28.596095  145607
 2023-02-02 10:09:00  28.591256  28.630754  28.586319  28.586319  132824
 2023-02-02 10:10:00  28.581382  28.581382  28.536947  28.561633   85999
 ...                        ...        ...        ...        ...     ...
 2023-02-03 19:53:00  30.067475  30.067475  30.067475  30.067475     449
 2023-02-03 19:56:00  30.057601  30.057601  30.057601  30.057601     328
 2023-02-03 19:57:00  30.057601  30.057601  30.047727  30.047727     628
 2023-02-03 19:59:00  30.067475  30.067475  30.067475  30.067475    1184
 2023-02-03 20:00:00  30.106973  30.106973  30.106973  30.106973     754

 [1215 rows x 5 columns],
                       open     high    low    close  volume
 time
 2022-10-25 18:41:00  52.86  52.8600  52.81  52.8100     754
 2022-10-25 18:42:00  52.81  52.8100  52.80  52.8000    4126
 2022-10-25 18:43:00  52.81  52.8401  52.81  52.8401    1197
 2022-10-25 18:44:00  52.87  52.8700  52.87  52.8700     636
 2022-10-25 18:45:00  52.84  52.8400  52.84  52.8400     411
 ...                    ...      ...    ...      ...     ...
 2022-10-27 19:56:00  53.86  53.8600  53.85  53.8500    3416
 2022-10-27 19:57:00  53.85  53.8600  53.85  53.8600    7746
 2022-10-27 19:58:00  53.86  53.8600  53.85  53.8600    1254
 2022-10-27 19:59:00  53.85  53.8600  53.85  53.8600    5111
 2022-10-27 20:00:00  53.85  53.8700  53.85  53.8600   14692

 [1629 rows x 5 columns],
                         open     high    low   close  volume
 time
 2023-01-31 14:41:00  20.2600  20.2700  20.26  20.265   13575
 2023-01-31 14:42:00  20.2650  20.2700  20.26  20.260   14759
 2023-01-31 14:43:00  20.2650  20.2700  20.26  20.265   21629
 2023-01-31 14:44:00  20.2641  20.2699  20.26  20.260   21193
 2023-01-31 14:45:00  20.2665  20.2666  20.26  20.265   14306
 ...                      ...      ...    ...     ...     ...
 2023-02-03 19:44:00  19.8300  19.8300  19.83  19.830    1036
 2023-02-03 19:53:00  19.8300  19.8300  19.83  19.830    1000
 2023-02-03 19:56:00  19.8000  19.8000  19.80  19.800     126
 2023-02-03 19:59:00  19.8300  19.8300  19.83  19.830     101
 2023-02-03 20:00:00  19.8000  19.8000  19.80  19.800     506

 [1704 rows x 5 columns],
                            open        high         low       close  volume
 time
 2023-01-30 09:27:00  229.739236  229.769178  229.739236  229.769178    2169
 2023-01-30 09:28:00  229.809099  229.819080  229.809099  229.819080     435
 2023-01-30 09:30:00  229.948825  229.948825  229.569569  229.569569    1475
 2023-01-30 09:31:00  229.749217  229.749217  228.601469  229.250196  149468
 2023-01-30 09:32:00  229.384931  229.384931  228.400263  228.481704   41303
 ...                         ...         ...         ...         ...     ...
 2023-02-03 16:16:00  229.669373  229.679354  229.669373  229.679354     618
 2023-02-03 16:17:00  229.679354  229.679354  229.679354  229.679354     637
 2023-02-03 16:50:00  229.220255  229.220255  229.220255  229.220255     577
 2023-02-03 19:30:00  229.300098  229.300098  229.300098  229.300098     113
 2023-02-03 19:55:00  229.300098  229.300098  229.300098  229.300098     151

 [2073 rows x 5 columns],
                         open    high      low    close  volume
 time
 2023-02-02 11:30:00  198.235  198.27  198.165  198.165   23204
 2023-02-02 11:31:00  198.170  198.22  198.100  198.180   28392
 2023-02-02 11:32:00  198.175  198.24  198.060  198.080   20142
 2023-02-02 11:33:00  198.075  198.21  198.070  198.150   14928
 2023-02-02 11:34:00  198.130  198.28  198.100  198.270   28941
 ...                      ...     ...      ...      ...     ...
 2023-02-03 19:49:00  196.770  196.77  196.670  196.670     549
 2023-02-03 19:54:00  196.750  196.75  196.750  196.750     417
 2023-02-03 19:57:00  196.610  196.74  196.610  196.740     567
 2023-02-03 19:58:00  196.690  196.69  196.690  196.690     100
 2023-02-03 20:00:00  196.690  196.69  196.210  196.230   11428

 [1208 rows x 5 columns],
                            open        high         low       close  volume
 time
 2023-01-30 13:53:00  161.095033  161.164543  161.025523  161.114893   36324
 2023-01-30 13:54:00  161.124823  161.164543  161.095033  161.141406   18818
 2023-01-30 13:55:00  161.144683  161.412794  161.134753  161.402864   45523
 2023-01-30 13:56:00  161.412794  161.611395  161.383103  161.601465   50553
 2023-01-30 13:57:00  161.591535  161.695800  161.581605  161.601465   24284
 ...                         ...         ...         ...         ...     ...
 2023-02-03 16:56:00  163.418662  163.418662  163.378942  163.378942     500
 2023-02-03 17:01:00  163.458382  163.458382  163.458382  163.458382    3211
 2023-02-03 17:10:00  163.408732  163.408732  163.408732  163.408732     156
 2023-02-03 17:13:00  163.458382  163.458382  163.458382  163.458382   20931
 2023-02-03 19:52:00  163.309432  163.309432  163.309432  163.309432     110

 [1958 rows x 5 columns],
                       open   high    low  close  volume
 time
 2023-02-02 08:04:00  12.04  12.04  12.03  12.03    2881
 2023-02-02 08:05:00  12.04  12.04  12.02  12.02    8462
 2023-02-02 08:06:00  12.03  12.03  12.03  12.03     387
 2023-02-02 08:07:00  12.02  12.03  12.01  12.02   12041
 2023-02-02 08:08:00  12.02  12.02  12.01  12.02    2390
 ...                    ...    ...    ...    ...     ...
 2023-02-03 19:56:00  11.24  11.24  11.23  11.24    2041
 2023-02-03 19:57:00  11.23  11.24  11.23  11.24     417
 2023-02-03 19:58:00  11.24  11.28  11.24  11.26    9842
 2023-02-03 19:59:00  11.25  11.32  11.25  11.28    8457
 2023-02-03 20:00:00  11.28  11.28  11.23  11.25    8139

 [1543 rows x 5 columns],
                         open     high      low     close  volume
 time
 2023-02-01 11:07:00  357.640  357.920  357.560  357.5600   14669
 2023-02-01 11:08:00  357.445  357.580  357.245  357.4900   18745
 2023-02-01 11:09:00  357.430  357.505  356.900  357.1700   14609
 2023-02-01 11:10:00  357.190  357.790  357.175  357.6596    7540
 2023-02-01 11:11:00  357.720  358.230  357.650  358.0700   39743
 ...                      ...      ...      ...       ...     ...
 2023-02-03 19:51:00  365.740  365.740  365.740  365.7400     224
 2023-02-03 19:54:00  365.600  365.600  365.600  365.6000     388
 2023-02-03 19:57:00  365.600  365.600  365.600  365.6000     267
 2023-02-03 19:59:00  365.690  365.690  365.690  365.6900     175
 2023-02-03 20:00:00  365.890  365.900  365.890  365.9000     882

 [1362 rows x 5 columns],
                       open    high     low   close  volume
 time
 2023-02-01 10:40:00  93.67  93.750  93.670  93.670   82129
 2023-02-01 10:41:00  93.68  93.780  93.670  93.780  116601
 2023-02-01 10:42:00  93.77  93.815  93.620  93.630   39302
 2023-02-01 10:43:00  93.62  93.620  93.535  93.535   27552
 2023-02-01 10:44:00  93.54  93.565  93.450  93.460   62053
 ...                    ...     ...     ...     ...     ...
 2023-02-03 19:37:00  94.51  94.510  94.510  94.510    1116
 2023-02-03 19:48:00  94.63  94.640  94.630  94.640    2428
 2023-02-03 19:49:00  94.64  94.640  94.640  94.640     136
 2023-02-03 19:54:00  94.52  94.520  94.520  94.520     150
 2023-02-03 20:00:00  94.64  94.640  94.640  94.640     525

 [1572 rows x 5 columns],
                         open      high       low    close  volume
 time
 2023-01-31 10:45:00  497.235  497.4700  496.9900  497.085    7951
 2023-01-31 10:46:00  497.010  497.5400  496.9200  497.520    5363
 2023-01-31 10:47:00  497.520  498.0900  497.4200  497.880   13445
 2023-01-31 10:48:00  497.855  498.3400  497.8550  498.200   17532
 2023-01-31 10:49:00  498.200  498.6299  498.1201  498.395    5783
 ...                      ...       ...       ...      ...     ...
 2023-02-03 16:14:00  472.020  472.0200  472.0200  472.020     399
 2023-02-03 16:32:00  472.020  472.0200  472.0200  472.020   13900
 2023-02-03 16:41:00  472.020  472.0200  472.0200  472.020     513
 2023-02-03 17:01:00  472.020  472.0200  472.0200  472.020    1049
 2023-02-03 18:50:00  472.100  472.1000  472.1000  472.100     100

 [1677 rows x 5 columns],
                          open    high       low     close  volume
 time
 2023-02-01 15:07:00  105.1700  105.21  105.0500  105.1800  308662
 2023-02-01 15:08:00  105.1800  105.38  105.0800  105.3619  392885
 2023-02-01 15:09:00  105.3600  105.70  105.3100  105.6700  432567
 2023-02-01 15:10:00  105.6800  105.78  105.5215  105.6201  274816
 2023-02-01 15:11:00  105.6200  105.74  105.4400  105.5820  322481
 ...                       ...     ...       ...       ...     ...
 2023-02-03 19:56:00  102.9400  102.94  102.9200  102.9300    3184
 2023-02-03 19:57:00  102.9300  102.94  102.9200  102.9200    2938
 2023-02-03 19:58:00  102.9000  102.93  102.9000  102.9300    6348
 2023-02-03 19:59:00  102.9301  102.94  102.9200  102.9200    4890
 2023-02-03 20:00:00  102.9400  102.95  102.9000  102.9500    5673

 [2159 rows x 5 columns],
                          open      high       low     close  volume
 time
 2023-01-27 09:49:00  4.888348  4.903328  4.883455  4.903328   72170
 2023-01-27 09:50:00  4.893441  4.903328  4.873369  4.878362  102896
 2023-01-27 09:51:00  4.878362  4.888348  4.878362  4.883755  111919
 2023-01-27 09:52:00  4.883355  4.893342  4.883355  4.893342    6022
 2023-01-27 09:53:00  4.883355  4.893342  4.883355  4.888348   13204
 ...                       ...       ...       ...       ...     ...
 2023-02-03 15:59:00  4.856621  4.866614  4.856621  4.861618  111186
 2023-02-03 16:00:00  4.861618  4.866614  4.856621  4.861618  195218
 2023-02-03 16:01:00  4.866614  4.866614  4.866614  4.866614    7634
 2023-02-03 16:02:00  4.866614  4.866614  4.866614  4.866614  109128
 2023-02-03 16:32:00  4.866614  4.866614  4.866614  4.866614   26813

 [2466 rows x 5 columns],
                           open       high        low      close  volume
 time
 2023-02-01 19:29:00  13.787539  13.787539  13.787539  13.787539     835
 2023-02-01 19:30:00  13.787539  13.787539  13.787539  13.787539     281
 2023-02-01 19:31:00  13.797422  13.807306  13.797422  13.807306     872
 2023-02-01 19:33:00  13.807306  13.807306  13.777655  13.777655    1195
 2023-02-01 19:34:00  13.787539  13.787539  13.787539  13.787539     412
 ...                        ...        ...        ...        ...     ...
 2023-02-03 19:56:00  13.011681  13.011681  13.011681  13.011681     414
 2023-02-03 19:57:00  13.016623  13.016623  13.016623  13.016623    1046
 2023-02-03 19:58:00  13.016623  13.016623  13.016623  13.016623     534
 2023-02-03 19:59:00  13.016623  13.016623  13.016623  13.016623    1466
 2023-02-03 20:00:00  13.016623  13.016623  13.006739  13.006739     818

 [1633 rows x 5 columns],
                       open   high    low  close  volume
 time
 2023-01-25 10:32:00  9.125  9.125  9.125  9.125     100
 2023-01-25 10:35:00  9.125  9.125  9.125  9.125    1000
 2023-01-25 10:36:00  9.110  9.110  9.110  9.110     309
 2023-01-25 10:37:00  9.060  9.060  9.060  9.060     310
 2023-01-25 10:38:00  9.050  9.050  9.050  9.050     881
 ...                    ...    ...    ...    ...     ...
 2023-02-03 15:57:00  9.350  9.370  9.340  9.370    1172
 2023-02-03 15:58:00  9.380  9.380  9.375  9.375     667
 2023-02-03 15:59:00  9.390  9.390  9.350  9.380    1998
 2023-02-03 16:00:00  9.380  9.400  9.375  9.400    1954
 2023-02-03 16:01:00  9.400  9.400  9.400  9.400     529

 [1230 rows x 5 columns],
                           open       high        low      close  volume
 time
 2023-02-01 10:21:00  35.442176  35.476947  35.432241  35.462045  120558
 2023-02-01 10:22:00  35.466615  35.476947  35.442176  35.471980   51003
 2023-02-01 10:23:00  35.474961  35.476947  35.447143  35.467013   89345
 2023-02-01 10:24:00  35.462045  35.476947  34.970276  35.476947  770739
 2023-02-01 10:25:00  35.467013  35.476947  35.447143  35.452111   34275
 ...                        ...        ...        ...        ...     ...
 2023-02-03 19:32:00  36.162444  36.162444  36.162444  36.162444    1000
 2023-02-03 19:47:00  36.152510  36.152510  36.152510  36.152510     111
 2023-02-03 19:56:00  36.162444  36.162444  36.132640  36.132640    1155
 2023-02-03 19:57:00  36.142575  36.142575  36.142575  36.142575     192
 2023-02-03 19:59:00  36.132640  36.132640  36.132640  36.132640    9965

 [1540 rows x 5 columns],
                            open        high         low       close  volume
 time
 2023-02-02 14:12:00  150.470821  150.540715  150.331034  150.336027  198112
 2023-02-02 14:13:00  150.341019  150.346011  150.191247  150.271125  237847
 2023-02-02 14:14:00  150.261141  150.311065  150.071430  150.081414  159102
 2023-02-02 14:15:00  150.077021  150.241171  150.071430  150.139825  162608
 2023-02-02 14:16:00  150.136331  150.179066  149.961597  150.106376  187905
 ...                         ...         ...         ...         ...     ...
 2023-02-03 19:55:00  154.095401  154.095401  154.095401  154.095401     347
 2023-02-03 19:56:00  154.095301  154.105286  154.085316  154.105286    1438
 2023-02-03 19:57:00  154.105286  154.105286  154.095301  154.095301     588
 2023-02-03 19:59:00  154.115270  154.115270  154.115270  154.115270     555
 2023-02-03 20:00:00  154.105286  154.155210  154.095301  154.155210    3835

 [1233 rows x 5 columns],
                          open    high     low     close   volume
 time
 2023-02-02 09:47:00  189.9643  190.14  189.26  189.7100   830490
 2023-02-02 09:48:00  189.6900  190.05  189.41  190.0500   771824
 2023-02-02 09:49:00  190.0300  190.10  189.21  189.5199   799522
 2023-02-02 09:50:00  189.5199  189.95  189.30  189.8600   541604
 2023-02-02 09:51:00  189.8100  190.14  188.70  188.7750  1207324
 ...                       ...     ...     ...       ...      ...
 2023-02-03 19:56:00  192.6500  192.75  192.65  192.7500    10447
 2023-02-03 19:57:00  192.7600  192.95  192.75  192.8900    14665
 2023-02-03 19:58:00  192.9500  192.95  192.76  192.7700    16534
 2023-02-03 19:59:00  192.7700  192.77  192.65  192.6600    18916
 2023-02-03 20:00:00  192.6500  192.77  192.60  192.7700    26555

 [1563 rows x 5 columns],
                          open    high     low    close  volume
 time
 2023-02-02 15:29:00  310.0700  310.12  309.51  309.790  285783
 2023-02-02 15:30:00  309.7704  310.03  309.77  309.990  163474
 2023-02-02 15:31:00  310.0200  310.31  310.02  310.230  226882
 2023-02-02 15:32:00  310.2300  310.32  310.10  310.235  109143
 2023-02-02 15:33:00  310.2200  310.40  310.07  310.350  131862
 ...                       ...     ...     ...      ...     ...
 2023-02-03 19:56:00  305.8500  305.85  305.85  305.850     390
 2023-02-03 19:57:00  305.8800  305.88  305.88  305.880     278
 2023-02-03 19:58:00  305.8000  305.80  305.80  305.800     863
 2023-02-03 19:59:00  305.8200  305.82  305.51  305.510   10246
 2023-02-03 20:00:00  305.8700  305.87  305.87  305.870     742

 [1112 rows x 5 columns],
                       open   high     low   close  volume
 time
 2023-01-25 10:19:00  5.190  5.190  5.1850  5.1850     400
 2023-01-25 10:21:00  5.180  5.180  5.1800  5.1800     528
 2023-01-25 10:22:00  5.180  5.180  5.1601  5.1650    7727
 2023-01-25 10:24:00  5.170  5.170  5.1700  5.1700     112
 2023-01-25 10:25:00  5.170  5.170  5.1700  5.1700     153
 ...                    ...    ...     ...     ...     ...
 2023-02-03 15:57:00  5.185  5.185  5.1849  5.1849    1857
 2023-02-03 15:58:00  5.180  5.190  5.1800  5.1800    1386
 2023-02-03 15:59:00  5.180  5.185  5.1800  5.1850     519
 2023-02-03 16:00:00  5.185  5.190  5.1600  5.1700   21109
 2023-02-03 16:02:00  5.190  5.190  5.1900  5.1900     300

 [1988 rows x 5 columns],
                        open  high   low  close  volume
 time
 2023-02-01 04:57:00  7.7800  7.78  7.78   7.78   10248
 2023-02-01 05:00:00  7.7700  7.77  7.77   7.77     150
 2023-02-01 05:03:00  7.7500  7.75  7.75   7.75     291
 2023-02-01 05:07:00  7.7600  7.76  7.76   7.76    1000
 2023-02-01 05:14:00  7.7600  7.76  7.76   7.76     450
 ...                     ...   ...   ...    ...     ...
 2023-02-03 19:56:00  8.4200  8.42  8.42   8.42     269
 2023-02-03 19:57:00  8.4300  8.43  8.43   8.43     130
 2023-02-03 19:58:00  8.4299  8.43  8.42   8.43   11600
 2023-02-03 19:59:00  8.4200  8.43  8.42   8.43    1292
 2023-02-03 20:00:00  8.4300  8.43  8.43   8.43    1107

 [2218 rows x 5 columns],
                        open    high      low    close  volume
 time
 2023-02-01 15:13:00  11.275  11.285  11.2550  11.2550   74168
 2023-02-01 15:14:00  11.255  11.280  11.2400  11.2409   73966
 2023-02-01 15:15:00  11.240  11.260  11.2400  11.2600  127745
 2023-02-01 15:16:00  11.260  11.270  11.2400  11.2450   88069
 2023-02-01 15:17:00  11.245  11.245  11.2036  11.2036  188564
 ...                     ...     ...      ...      ...     ...
 2023-02-03 19:54:00  11.800  11.800  11.8000  11.8000     249
 2023-02-03 19:55:00  11.800  11.800  11.8000  11.8000     394
 2023-02-03 19:56:00  11.810  11.810  11.8100  11.8100     705
 2023-02-03 19:57:00  11.780  11.820  11.7800  11.8200    1119
 2023-02-03 20:00:00  11.850  11.850  11.8500  11.8500     355

 [1737 rows x 5 columns],
                         open      high       low    close  volume
 time
 2023-01-30 11:15:00  108.415  108.4850  108.4150  108.480   18630
 2023-01-30 11:16:00  108.470  108.5750  108.4650  108.570    8945
 2023-01-30 11:17:00  108.590  108.7200  108.5900  108.685   17574
 2023-01-30 11:18:00  108.665  108.6700  108.5799  108.600   12153
 2023-01-30 11:19:00  108.600  108.6005  108.5483  108.580    7429
 ...                      ...       ...       ...      ...     ...
 2023-02-03 19:46:00  110.640  110.6400  110.6400  110.640     249
 2023-02-03 19:48:00  110.630  110.6300  110.6300  110.630     210
 2023-02-03 19:52:00  110.640  110.6400  110.6400  110.640     320
 2023-02-03 19:56:00  110.640  110.6400  110.6400  110.640     270
 2023-02-03 19:57:00  110.630  110.6300  110.6300  110.630     150

 [2415 rows x 5 columns],

In [12]:
data = pd.concat(dfs)
data

                        open      high      low     close  volume
time
2023-02-01 09:59:00   79.760   79.7600   79.500   79.5750  394667
2023-02-01 10:00:00   79.590   79.6591   79.480   79.6550  373402
2023-02-01 10:01:00   79.670   79.9600   79.480   79.8800  616572
2023-02-01 10:02:00   79.880   80.3000   79.860   80.0499  854847
2023-02-01 10:03:00   80.044   80.0440   79.546   79.8343  565500
...                      ...       ...      ...       ...     ...
2023-02-03 19:54:00  210.900  210.9000  210.900  210.9000     203
2023-02-03 19:56:00  210.810  210.8100  210.650  210.6500     592
2023-02-03 19:57:00  210.810  210.8100  210.650  210.6500     439
2023-02-03 19:58:00  210.650  210.6500  210.650  210.6500     379
2023-02-03 19:59:00  210.670  210.6700  210.670  210.6700     691

[49566 rows x 5 columns]

In [13]:
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(df[['open', 'high', 'low', 'close', 'volume']])

In [33]:
n_steps = 360
n_features = 5

In [15]:
train_size = int(len(df) * 0.8)
train_data = scaled_data[:train_size, :]
test_data = scaled_data[train_size - n_steps:, :]

In [16]:
def create_dataset(data):
    X, y = [], []
    for i in range(n_steps, len(data)):
        X.append(data[i-n_steps:i, :])
        y.append(data[i, 3])
    X, y = np.array(X), np.array(y)
    return X, y

In [32]:
train_X.shape

(1128, 60, 5)

In [19]:
train_X, train_y = create_dataset(train_data)
test_X, test_y = create_dataset(test_data)

In [35]:
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(n_steps, n_features)))
model.add(LSTM(units=50))
model.add(Dense(units=1))
model.compile(optimizer='adam', loss='mean_squared_error')

In [36]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_4 (LSTM)               (None, 360, 50)           11200

 lstm_5 (LSTM)               (None, 50)                20200

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 31,451
Trainable params: 31,451
Non-trainable params: 0
_________________________________________________________________

In [37]:
model.fit(train_X, train_y, epochs=10, batch_size=32)

Epoch 1/10

ValueError: in user code:

    File "/home/armando/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/keras/engine/training.py", line 1160, in train_function  *
        return step_function(self, iterator)
    File "/home/armando/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/keras/engine/training.py", line 1146, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/home/armando/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/keras/engine/training.py", line 1135, in run_step  **
        outputs = model.train_step(data)
    File "/home/armando/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/keras/engine/training.py", line 993, in train_step
        y_pred = self(x, training=True)
    File "/home/armando/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/keras/utils/traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/home/armando/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/keras/engine/input_spec.py", line 295, in assert_input_compatibility
        raise ValueError(

    ValueError: Input 0 of layer "sequential_2" is incompatible with the layer: expected shape=(None, 360, 5), found shape=(None, 60, 5)

In [ ]:
for df in df:
    df = df.drop("symbol")

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
def clean_cashtags(st):
    letters = re.findall('[A-Za-z]+', st)
    return ' '.join(letters)

In [ ]:
df = df.dropna(subset=["cashtags"])

In [ ]:
df["cashtags"] = df["cashtags"].apply(clean_cashtags)

In [ ]:
def del_timestamp(st):
    return st.replace("+00:00", "")

In [ ]:
df["date"] = df["date"].apply(del_timestamp)

In [ ]:
df["date"] = pd.to_datetime(df['date'])

In [ ]:
df.index = df.pop('date')

In [ ]:
df[df["cashtags"] == "MSFT"]

In [ ]:
df_stocks = pd.read_csv("AAPL.csv")
df_stocks.columns

In [ ]:
df_stocks = df_stocks[['time', 'close']]
df_stocks.info()

In [ ]:
df_stocks["time"] = pd.to_datetime(df_stocks["time"])

In [ ]:
df_stocks.index = df_stocks.pop("time")

In [ ]:
df_stocks

In [ ]:
scaller = MinMaxScaler()

df_stocks["close_scalled"] = scaller.fit_transform(df_stocks[["close"]])

In [ ]:
df_stocks

In [ ]:
df

In [ ]:
merged_df = pd.merge(df, df_stocks, left_index=True, right_index=True)

In [ ]:
merged_df

In [ ]:
merged_short = merged_df[['tweet', 'username', 'likeCount', 'replyCount',
       'retweetCount', 'sentiment', 'close']]

In [ ]:
merged_short

In [ ]:
df_stocks