In [1]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

In [2]:
#trying to scrape tweets from 2022 for the following users
query = 'from:mikealfred OR from:MFHoz OR from:DeItaone since:2022-01-01 until:2022-12-31'
scraper = sntwitter.TwitterSearchScraper(query)

In [3]:
#create empty list to store tweets
tweets = []
#loop through tweets and append to list
for i, tweet in enumerate(scraper.get_items()):
    data = [tweet.url, tweet.date, tweet.rawContent, tweet.user.username, 
            tweet.likeCount, tweet.replyCount, tweet.retweetCount, tweet.quoteCount, 
            tweet.cashtags, tweet.hashtags, tweet.viewCount]
    tweets.append(data)

In [4]:
#convert list to dataframe
df = pd.DataFrame(tweets, columns= ['url', 'date', 'rawContent', 'username',
                                    'likeCount', 'replyCount', 'retweetCount', 'quoteCount',
                                    'cashtags', 'hashtags', 'viewCount'])
df.head()

,url,date,rawContent,username,likeCount,replyCount,retweetCount,quoteCount,cashtags,hashtags,viewCount
0,https://twitter.com/mikealfred/status/16089731...,2022-12-30 23:47:39+00:00,@w_s_bitcoin Sounds cool but I don't have a sa...,mikealfred,3,1,0,0,None,None,923.0
1,https://twitter.com/mikealfred/status/16089730...,2022-12-30 23:47:16+00:00,@IIICapital Now you're on to something,mikealfred,8,0,0,0,None,None,1250.0
2,https://twitter.com/mikealfred/status/16089718...,2022-12-30 23:42:40+00:00,@SelfMadeMastery Sounds good while you're in t...,mikealfred,2,0,0,0,None,None,98.0
3,https://twitter.com/mikealfred/status/16089670...,2022-12-30 23:23:22+00:00,@GRDecter Several large crypto exchanges and l...,mikealfred,7,2,0,0,None,None,2404.0
4,https://twitter.com/mikealfred/status/16089652...,2022-12-30 23:16:12+00:00,@Mio_Mind You are definitely my enemy if you m...,mikealfred,7,1,0,0,None,None,396.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18140 entries, 0 to 18139
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           18140 non-null  object
 1   date          18140 non-null  datetime64[ns, UTC]
 2   rawContent    18140 non-null  object
 3   username      18140 non-null  object
 4   likeCount     18140 non-null  int64
 5   replyCount    18140 non-null  int64
 6   retweetCount  18140 non-null  int64
 7   quoteCount    18140 non-null  int64
 8   cashtags      417 non-null    object
 9   hashtags      843 non-null    object
 10  viewCount     1004 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(5)
memory usage: 1.5+ MB

In [6]:
#save to csv
data = df.to_csv('file19.csv', index=False)