In [47]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

In [48]:
#trying to scrape tweets from 2022 for the following users
query = 'from:elliotrades OR from:ShardiB2 OR from:bbands since:2022-01-01 until:2022-12-31'
scraper = sntwitter.TwitterSearchScraper(query)

In [49]:
#create empty list to store tweets
tweets = []
#loop through tweets and append to list
for i, tweet in enumerate(scraper.get_items()):
    data = [tweet.url, tweet.date, tweet.rawContent, tweet.user.username, 
            tweet.likeCount, tweet.replyCount, tweet.retweetCount, tweet.quoteCount, 
            tweet.cashtags, tweet.hashtags, tweet.viewCount]
    tweets.append(data)

In [50]:
#convert list to dataframe
df = pd.DataFrame(tweets, columns= ['url', 'date', 'rawContent', 'username',
                                    'likeCount', 'replyCount', 'retweetCount', 'quoteCount',
                                    'cashtags', 'hashtags', 'viewCount'])
df.head()

,url,date,rawContent,username,likeCount,replyCount,retweetCount,quoteCount,cashtags,hashtags,viewCount
0,https://twitter.com/elliotrades/status/1608963...,2022-12-30 23:11:02+00:00,@notthreadguy TG please don't reply when I am ...,elliotrades,43,5,0,0,None,None,5255.0
1,https://twitter.com/elliotrades/status/1608960...,2022-12-30 22:56:18+00:00,@ethforfood @wabdoteth completing a game is ir...,elliotrades,4,2,0,0,None,None,256.0
2,https://twitter.com/elliotrades/status/1608957...,2022-12-30 22:44:31+00:00,"@cryptaveli you might still be here, but class...",elliotrades,14,0,0,0,None,None,717.0
3,https://twitter.com/elliotrades/status/1608955...,2022-12-30 22:39:33+00:00,It's the part of the bear market where OGs are...,elliotrades,856,75,0,0,None,None,67191.0
4,https://twitter.com/elliotrades/status/1608954...,2022-12-30 22:34:37+00:00,@MisterFeast @SpaceLlamaNFT @GigaMartNFT Cardi...,elliotrades,2,0,0,0,None,None,82.0

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10971 entries, 0 to 10970
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           10971 non-null  object
 1   date          10971 non-null  datetime64[ns, UTC]
 2   rawContent    10971 non-null  object
 3   username      10971 non-null  object
 4   likeCount     10971 non-null  int64
 5   replyCount    10971 non-null  int64
 6   retweetCount  10971 non-null  int64
 7   quoteCount    10971 non-null  int64
 8   cashtags      3101 non-null   object
 9   hashtags      342 non-null    object
 10  viewCount     554 non-null    float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(5)
memory usage: 942.9+ KB

In [52]:
#save to csv
data = df.to_csv('file8.csv', index=False)