In [19]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

In [20]:
#trying to scrape tweets from 2022 for the following users
query = 'from:crypto_iso OR from:FirstSquawk OR from:StockMKTNewz since:2022-01-01 until:2022-12-31'
scraper = sntwitter.TwitterSearchScraper(query)

In [21]:
#create empty list to store tweets
tweets = []
#loop through tweets and append to list
for i, tweet in enumerate(scraper.get_items()):
    data = [tweet.url, tweet.date, tweet.rawContent, tweet.user.username, 
            tweet.likeCount, tweet.replyCount, tweet.retweetCount, tweet.quoteCount, 
            tweet.cashtags, tweet.hashtags, tweet.viewCount]
    tweets.append(data)

In [22]:
#convert list to dataframe
df = pd.DataFrame(tweets, columns= ['url', 'date', 'rawContent', 'username',
                                    'likeCount', 'replyCount', 'retweetCount', 'quoteCount',
                                    'cashtags', 'hashtags', 'viewCount'])
df.head()

,url,date,rawContent,username,likeCount,replyCount,retweetCount,quoteCount,cashtags,hashtags,viewCount
0,https://twitter.com/StockMKTNewz/status/160896...,2022-12-30 23:24:46+00:00,A judge has set January 3rd for the first pre-...,StockMKTNewz,49,5,5,1,"[MSFT, ATVI]",None,22356.0
1,https://twitter.com/crypto_iso/status/16089614...,2022-12-30 23:01:22+00:00,@crypto_hooper Infinity panda holders - 250 \n...,crypto_iso,0,1,0,0,None,None,123.0
2,https://twitter.com/crypto_iso/status/16089612...,2022-12-30 23:00:26+00:00,@WizardMerk Not yet.,crypto_iso,0,0,0,0,None,None,268.0
3,https://twitter.com/StockMKTNewz/status/160895...,2022-12-30 22:44:12+00:00,@elonmusk @teslaownersSV @Tesla Crazy year ......,StockMKTNewz,54,5,2,0,None,None,31777.0
4,https://twitter.com/StockMKTNewz/status/160895...,2022-12-30 22:36:56+00:00,Final heat map of the S&amp;P 500's performanc...,StockMKTNewz,444,24,152,19,None,None,145329.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57252 entries, 0 to 57251
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           57252 non-null  object
 1   date          57252 non-null  datetime64[ns, UTC]
 2   rawContent    57252 non-null  object
 3   username      57252 non-null  object
 4   likeCount     57252 non-null  int64
 5   replyCount    57252 non-null  int64
 6   retweetCount  57252 non-null  int64
 7   quoteCount    57252 non-null  int64
 8   cashtags      12513 non-null  object
 9   hashtags      212 non-null    object
 10  viewCount     1931 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(5)
memory usage: 4.8+ MB

In [24]:
#save to csv
data = df.to_csv('file22.csv', index=False)