In [19]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

In [20]:
#trying to scrape tweets from 2022 for the following users
query = 'from:Route2FI OR from:Fxhedgers OR from:LadyofCrypto1 since:2022-01-01 until:2022-12-31'
scraper = sntwitter.TwitterSearchScraper(query)

In [21]:
#create empty list to store tweets
tweets = []
#loop through tweets and append to list
for i, tweet in enumerate(scraper.get_items()):
    data = [tweet.url, tweet.date, tweet.rawContent, tweet.user.username, 
            tweet.likeCount, tweet.replyCount, tweet.retweetCount, tweet.quoteCount, 
            tweet.cashtags, tweet.hashtags]
    tweets.append(data)

In [22]:
#convert list to dataframe
df = pd.DataFrame(tweets, columns= ['url', 'date', 'rawContent', 'username',
                                    'likeCount', 'replyCount', 'retweetCount', 'quoteCount',
                                    'cashtags', 'hashtags'])
df.head()

,url,date,rawContent,username,likeCount,replyCount,retweetCount,quoteCount,cashtags,hashtags,viewCount
0,https://twitter.com/Route2FI/status/1608883626...,2022-12-30 17:52:02+00:00,@crypthoem Let's pray ðŸ˜‰,Route2FI,3,0,0,0,None,None,588.0
1,https://twitter.com/Route2FI/status/1608873426...,2022-12-30 17:11:30+00:00,"2 days left of bera, then up only every day in...",Route2FI,205,29,18,0,None,None,31158.0
2,https://twitter.com/Fxhedgers/status/160886005...,2022-12-30 16:18:23+00:00,10-YR YIELD COULD BREAK ABOVE 4.00% NEXT WEEK:...,Fxhedgers,244,0,47,5,None,None,51663.0
3,https://twitter.com/Route2FI/status/1608814484...,2022-12-30 13:17:17+00:00,@joaquinorma1 ðŸ«¡,Route2FI,2,0,0,0,None,None,135.0
4,https://twitter.com/Route2FI/status/1608812846...,2022-12-30 13:10:47+00:00,"@E_Schhneider gm, bro",Route2FI,6,1,0,1,None,None,3373.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19267 entries, 0 to 19266
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           19267 non-null  object
 1   date          19267 non-null  datetime64[ns, UTC]
 2   rawContent    19267 non-null  object
 3   username      19267 non-null  object
 4   likeCount     19267 non-null  int64
 5   replyCount    19267 non-null  int64
 6   retweetCount  19267 non-null  int64
 7   quoteCount    19267 non-null  int64
 8   cashtags      1796 non-null   object
 9   hashtags      1066 non-null   object
 10  viewCount     392 non-null    float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(5)
memory usage: 1.6+ MB

In [24]:
#save to csv
data = df.to_csv('file16.csv', index=False)