In [1]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

In [7]:
username1 = 'from:example_user1'
username2 = 'from:example_user2'
start_date = '2022-01-01'
end_date = '2022-12-31'

In [4]:
query = f'{username1} OR {username2} since:{start_date} until:{end_date}'
scraper = sntwitter.TwitterSearchScraper(query)

In [11]:
#create empty list to store tweets
tweets = []
#loop through tweets and append to list
for i, tweet in enumerate(scraper.get_items()):
    data = [tweet.url, tweet.date, tweet.rawContent, tweet.user.username, 
            tweet.likeCount, tweet.replyCount, tweet.retweetCount, tweet.quoteCount, 
            tweet.cashtags, tweet.hashtags, tweet.mentionedUsers, tweet.viewCount]
    tweets.append(data)

In [12]:
#convert list to dataframe
df = pd.DataFrame(tweets, columns= ['url', 'date', 'rawContent', 'username',
                                    'likeCount', 'replyCount', 'retweetCount', 'quoteCount',
                                    'cashtags', 'hashtags', 'mentionedUsers', 'viewCount'])
df.head()

,url,date,rawContent,username,likeCount,replyCount,retweetCount,quoteCount,cashtags,hashtags,mentionedUsers,viewCount
0,https://twitter.com/Fxhedgers/status/162092440...,2023-02-01 23:17:48+00:00,U.S. DOLLAR INDEX FALLS 1.23% TO 100.85,Fxhedgers,259,0,40,8,None,None,None,53716
1,https://twitter.com/Route2FI/status/1620912026...,2023-02-01 22:28:36+00:00,Mini alt season,Route2FI,107,12,6,2,None,None,None,23339
2,https://twitter.com/Fxhedgers/status/162087892...,2023-02-01 20:17:05+00:00,"$5 TRILLION IN U.S. MONEY MARKET ACCOUNTS, AT ...",Fxhedgers,918,0,181,25,None,None,None,140606
3,https://twitter.com/Fxhedgers/status/162087282...,2023-02-01 19:52:51+00:00,SQUEEZE,Fxhedgers,380,0,38,3,None,None,None,47268
4,https://twitter.com/Fxhedgers/status/162084095...,2023-02-01 17:46:12+00:00,CHATGPT UNLEASHES STOCK TRADER STAMPEDE FOR EV...,Fxhedgers,191,0,27,8,None,None,None,47532

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             356 non-null    object
 1   date            356 non-null    datetime64[ns, UTC]
 2   rawContent      356 non-null    object
 3   username        356 non-null    object
 4   likeCount       356 non-null    int64
 5   replyCount      356 non-null    int64
 6   retweetCount    356 non-null    int64
 7   quoteCount      356 non-null    int64
 8   cashtags        24 non-null     object
 9   hashtags        5 non-null      object
 10  mentionedUsers  187 non-null    object
 11  viewCount       356 non-null    int64
dtypes: datetime64[ns, UTC](1), int64(5), object(6)
memory usage: 33.5+ KB

In [24]:
#save to csv
data = df.to_csv('file.csv', index=False)