In [7]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

In [8]:
#trying to scrape tweets from 2022 for the following users
query = 'from:TommyThornton OR from:BowTiedBull OR from:zerohedge OR from:stocktalkweekly since:2022-01-01 until:2022-12-31'
scraper = sntwitter.TwitterSearchScraper(query)

In [9]:
#create empty list to store tweets
tweets = []
#loop through tweets and append to list
for i, tweet in enumerate(scraper.get_items()):
    data = [tweet.url, tweet.date, tweet.rawContent, tweet.user.username, 
            tweet.likeCount, tweet.replyCount, tweet.retweetCount, tweet.quoteCount, 
            tweet.cashtags, tweet.hashtags, tweet.viewCount]
    tweets.append(data)

In [10]:
#convert list to dataframe
df = pd.DataFrame(tweets, columns= ['url', 'date', 'rawContent', 'username',
                                    'likeCount', 'replyCount', 'retweetCount', 'quoteCount',
                                    'cashtags', 'hashtags', 'viewCount'])
df.head()

,url,date,rawContent,username,likeCount,replyCount,retweetCount,quoteCount,cashtags,hashtags,viewCount
0,https://twitter.com/zerohedge/status/160897500...,2022-12-30 23:55:08+00:00,Bovard: Liberals Learned Nothing In 2022 https...,zerohedge,386,13,90,4,None,None,111932.0
1,https://twitter.com/BowTiedBull/status/1608968...,2022-12-30 23:30:32+00:00,@TAlanHorne https://t.co/KQ0jtS5Lbq,BowTiedBull,2,0,0,0,None,None,2566.0
2,https://twitter.com/zerohedge/status/160896870...,2022-12-30 23:30:08+00:00,Researcher Reveals Google Home Speakers Could'...,zerohedge,595,112,194,42,None,None,171039.0
3,https://twitter.com/zerohedge/status/160896241...,2022-12-30 23:05:08+00:00,The Twitter Files Have Confirmed (Again) That ...,zerohedge,1198,39,322,20,None,None,140033.0
4,https://twitter.com/BowTiedBull/status/1608960...,2022-12-30 22:56:11+00:00,Yep they browse $2M super cars and $10M mansio...,BowTiedBull,124,4,4,0,None,None,27301.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53462 entries, 0 to 53461
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           53462 non-null  object
 1   date          53462 non-null  datetime64[ns, UTC]
 2   rawContent    53462 non-null  object
 3   username      53462 non-null  object
 4   likeCount     53462 non-null  int64
 5   replyCount    53462 non-null  int64
 6   retweetCount  53462 non-null  int64
 7   quoteCount    53462 non-null  int64
 8   cashtags      2229 non-null   object
 9   hashtags      74 non-null     object
 10  viewCount     2113 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(5)
memory usage: 4.5+ MB

In [12]:
#save to csv
data = df.to_csv('file23.csv', index=False)